{erl_opts, [fail_on_warning,
            warn_export_all]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{clean_files, ["ebin/*", ".eunit/*"]}.
{deps_dir, ["deps"]}.

{deps, [
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {branch, "master"}}},
  {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", "master"}},
  {jsonx, ".*", {git, "git://github.com/iskra/jsonx.git", "master"}}
]}.
